/* Styles for the toolbar */
.toolbar {
  background-color: #1a1a1a;
  color: #ffffff;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.toolbar .logo {
  display: flex;
  align-items: center;
}


.toolbar .logo img {
  height: 40px;
  /*width: auto; /* Add this line to adjust the width automatically while maintaining aspect ratio */
  max-width: 100%; /* Add this line to ensure the image doesn't exceed the toolbar width */
  margin-right: 10px;
}

.toolbar .logo a {
  color: #ffffff;
  font-size: 20px;
  text-decoration: none;
}

.toolbar .icons {
  display: flex;
  align-items: center;
}

.toolbar .icons a {
  color: #ffffff;
  margin-left: 20px;
  text-decoration: none;
}

.toolbar .icons a:hover {
  color: #85e085;
}
.contact-link {
  position: relative;
}

.contact-link::before {
  content: "+44 77777744";
  position: absolute;
  top: 100%; /* Position it below the link */
  left: 50%;
  transform: translateX(-50%);
  padding: 5px;
  background-color: #85e085; /* Green background */
  color: #000000; /* Black text */
  border: 1px solid #333333; /* Black border */
  border-radius: 5px;
  display: none;
  white-space: nowrap; /* Prevent text from wrapping */
}

/* Show the popup on hover */
.contact-link:hover::before {
  display: block;
}


/* General styles for the page */
.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}

/* Styles for the title box */
.title-box {
  background-color: #85e085;
  border: 1px solid #c2c2c2;
  padding: 10px;
}

.title-box h1 {
  margin: 0;
  font-size: 24px;
  text-align: center;
  color: #ffffff;
}

/* Styles for the particle section */
.particle-section {
  background-color: #f7f7f7;
  border: 1px solid #c2c2c2;
  margin-top: 20px;
  padding: 20px;
}

.dropdown-button {
  background-color: #85e085;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: #333333;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.particle-field {
  background-color: #dbf1db;
  border: 1px solid #c2c2c2;
  padding: 10px;
  margin-top: 20px;
}

.particle-field h3 {
  margin: 0;
  font-size: 20px;
  color: #333333;
}

.input-section {
  margin-top: 10px;
}

.input-section label {
  margin-right: 5px;
}

.input-section input {
  width: 50px;
  padding: 5px;
  border: 1px solid #c2c2c2;
}

.start-button {
  background-color: #4CAF50;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 20px;
}

.start-button:hover {
  background-color: #45a049;
}

/* Styles for the particle result section */
.particle-result {
  background-color: #f9f9f9;
  border: 1px solid #c2c2c2;
  padding: 10px;
  margin-top: 10px;
}

.particle-result h3 {
  margin: 0;
  font-size: 18px;
  color: #333333;
}

.particle-result p {
  margin: 0;
  font-size: 14px;
  color: #666666;
}

/* Styles for the masses section */
#masses {
  display: none;
}

.masses {
  background-color: #dbf1db;
  border: 1px solid #c2c2c2;
  padding: 10px;
  margin-top: 20px;
  display: inline-block;
  vertical-align: top;
  margin-left: 20px;
}

.masses label {
  font-family: "Arial", sans-serif;
  font-weight: bold;
}

.masses input {
  width: 50px;
  padding: 5px;
  border: 1px solid #c2c2c2;
}

.masses #v3Container {
  margin-top: 10px;
  font-size: 16px;
}

.masses #v3 {
  color: #c71a1a;
}

.masses button {
  background-color: #4CAF50;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 20px;
}

.masses button:hover {
  background-color: #45a049;
}

/* Styles for the pop-up window */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: none;
  z-index: 1;
}

.popup {
  position: fixed;
  display: none;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  z-index: 2;
}

.popup-content {
  text-align: center;
}

.close-button {
  position: absolute;
  top: 5px;
  right: 10px;
  cursor: pointer;
}
